<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>your decks - DECK</title>
    <base href="/assets/">
    <link rel="stylesheet" href="index/style.css">
</head>
<body>
    <div id="nav">
        <img class="logo" src="graphics/logo.svg" alt="DECK">

        <div class="right">
            <img class="profile load" src="graphics/loader.svg" alt="">
            <a class="new hidden" onclick="deck.new()"><svg viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg> New deck</a>
            <a class="join hidden">JOIN</a>
        </div>
    </div>
    <div id="wrapper">
        <div class="intro">
            <h1>Hi <span></span> !</h1>
            <h4>This is your <b>latest decks</b>.</h4>
        </div>
        <div class="shown"></div>
        <img class="shownLoader load" src="graphics/loader.svg" alt="">

        <div class="others">
            <h4>All your decks</h4>
            <div class="title">
                <span class="name">name</span>
                <span class="lastModify">last modify</span>
                <span class="owner">owner</span>
            </div>
            <div class="decks" onmousedown="return false"></div>
        </div>

        <div class="join">
            <h4>Join a deck</h4>
            <input type="url" placeholder="http://deck.rf.gd/id">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="index/tilt.js"></script>
	<script src="https://pzm.herokuapp.com/$/ajax|get|cookies|scrolltop|title|getJSON"></script> <!-- Prizm -->
    <script src="deck/algo.js"></script>
    <script src="core/connect.js"></script>
    <script src="index/main.js"></script>
    <script src="index/deps.js"></script>
    <script src="index/display.js"></script>
</body>
</html>